h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  margin-top: 0;
  line-height: 1.2;
  margin-bottom: 0.3em;
}

h2 {
  font-size: 2.5rem;
}

h4 {
  font-size: 1.8rem;
}

a {
  color: rgb(100, 80, 200);
}

p {
  font-weight: 0;
  margin-top: 0;
}

body {
  margin: 0;
  font-size: 1.2em;
  line-height: 1.5;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: black;
}

.navigation {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 100px;
}

.navigationItem {
  text-decoration: none;
  margin: 0 1.2em 0 0;
}

.navigationItemCurrent {
  text-decoration: underline;
}

.page {
  display: flex;
  flex-direction: column;
}

.pageHead {
  display: flex;
  align-items: center;
  border-bottom: 1px dotted black;
  margin-bottom: 20px;
}

.pageHeadFace {
  display: block;
  object-fit: cover;
  width: 120px;
  height: 120px;
  border-radius: 60px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-right: 1em;
}

.pageDescription {
  margin-bottom: 20px;
}

.pageContacts {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border: grey dotted;
  padding: 0.5em 0.5em 0.5em 0.5em;
}

.pageContactItem {
  display: flex;
  align-items: center;
}

.pageContactItem img {
  height: 50px;
  width: 50px;
  margin-right: 10px;
}

.pageWrapper {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  margin: 30px auto;
  padding: 0 0.6em;
}

@media (max-width: 550px) {
  .pageContacts {
    flex-direction: column;
    margin: 0 auto;
  }
  .pageContactItem {
    margin: 0.3em;
  }
  .pageDescription {
    margin-bottom: 10px;
  }

  .navigation {
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  .navigationItem {
    margin: 0 0 1.2em 0;
  }
}
